<nav class="navbar navbar-dark bg-dark mb-5">
        <a class="navbar-brand" href="/" style="color:#5CB89A; font-family: Arial ; font-size:xx-large;">TypeHierarchy</a>
        <div class="navbar-expand mr-auto">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="https://www.rescuetrack.de/de-de/">Home</a>
            <a class="nav-item nav-link" href="#">About</a>
            <a class="nav-item nav-link" href="https://www.rescuetrack.de/de-de/impressum/">Contact</a>
          </div>
        </div>
        <img src="" alt="rescuetrack"  width="240" height="100" >
      </nav>
