li {
    list-style-type: none;
}

span.rule1{
    font-weight: 600;

}

div.base {
    background-color:rgb(255, 255, 255);
    resize: both;
    border-left: 6px solid#5CB89A;
    margin-top: 90px;
    height: auto;
    width: auto;
 
}
