<!-- <h3>{{nodeName}}</h3> -->
<div class="base">
    <ng-container *ngFor="let nodeData of data">
        <ng-container *ngFor="let nodeType of nodeData.types">

            <ng-container *ngIf="nodeName == nodeType; then list;"></ng-container>
            <ng-template #list>
                <ul>
                    <h3>{{nodeType}}</h3>
                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-secondary btn-space" (click)="showLabels()">Labels</button>
                        <button type="button" class="btn btn-secondary btn-space" (click)="showNames()">Names</button>
                    </div>

                    <li *ngFor="let item of nodeData| keyvalue">
                        <ng-container *ngIf="item.key.includes('name'); then names;"></ng-container>
                        <ng-container *ngIf="item.key.includes('label'); then labels;"></ng-container>
                        <!--   <ng-container *ngIf="item.key.includes('types'); then types;"></ng-container>
 -->

                        <ng-template #labels><b>{{item.key}}</b> :

                            <span *ngFor="let data of item.value | keyvalue">

                                <b> {{data.key}}</b> :
                                {{data.value}}</span>
                            <hr>
                        </ng-template>

                        <ng-template #names>
                            <b>{{item.key}}</b> :
                            <span>
                                {{item.value}}
                            </span>

                        </ng-template>

                        <ng-template #types>
                            <hr>
                            <b>{{item.key}}</b> :
                            <span>
                                {{item.value}}
                            </span>
                        </ng-template>

                    </li>

                </ul>
            </ng-template>

        </ng-container>
    </ng-container>
</div>