li {
    list-style-type: none;
}

span.rule1{
    font-weight: 600;

}

div.basis {
    background-color:white;
    resize: both;
    border-left: 6px solid#5CB89A;
    margin-top: 90px;
    height: auto;
    width: auto;
 
}

div.details {
    margin-top: 15px;
}

.btn-space {
    margin-right: 5px;
    margin-top: 15px;

  }

h6 {
    font-weight: bold;
  }
