@import '~angular-tree-component/dist/angular-tree-component.css';

  .tree-node {
    font-weight: bold;
    color: rgb(27, 26, 26)
}
  .tree-node-leaf {
    font-weight: normal;
    color: rgb(12, 12, 12);
}
  